USE [master]
GO
/****** Object:  Database [Bank]    Script Date: 13.12.2022 16:55:24 ******/
CREATE DATABASE [Bank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bank', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Bank.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bank_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Bank_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bank]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 13.12.2022 16:55:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[Id_Bank] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[Id_Bank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banks_account]    Script Date: 13.12.2022 16:55:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banks_account](
	[Id_account_bank] [int] NOT NULL,
	[Banks_acconnt] [int] NOT NULL,
	[Bank_id] [int] NOT NULL,
	[Person_id] [int] NOT NULL,
	[Money_Ac] [money] NOT NULL,
	[Persent] [tinyint] NOT NULL,
 CONSTRAINT [PK_Banks_account_1] PRIMARY KEY CLUSTERED 
(
	[Id_account_bank] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 13.12.2022 16:55:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id_Person] [int] NOT NULL,
	[First_Name] [nchar](10) NOT NULL,
	[Last_Name] [nchar](10) NOT NULL,
	[age] [nchar](10) NOT NULL,
	[Id_Account] [int] NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id_Person] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 13.12.2022 16:55:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[Id_transaction] [int] NOT NULL,
	[FromAcount_id] [int] NOT NULL,
	[ToAccoun_id] [int] NOT NULL,
	[Sum_transaction] [money] NOT NULL,
	[time] [datetime] NOT NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[Id_transaction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Banks_account] ADD  CONSTRAINT [DF_Banks_account_Sum]  DEFAULT ((0)) FOR [Money_Ac]
GO
ALTER TABLE [dbo].[Banks_account] ADD  CONSTRAINT [DF_Banks_account_Percent]  DEFAULT ((0)) FOR [Persent]
GO
ALTER TABLE [dbo].[Banks_account]  WITH CHECK ADD  CONSTRAINT [FK_Banks_account_Bank] FOREIGN KEY([Bank_id])
REFERENCES [dbo].[Bank] ([Id_Bank])
GO
ALTER TABLE [dbo].[Banks_account] CHECK CONSTRAINT [FK_Banks_account_Bank]
GO
ALTER TABLE [dbo].[Banks_account]  WITH CHECK ADD  CONSTRAINT [FK_Persom1_account_Bank] FOREIGN KEY([Person_id])
REFERENCES [dbo].[Person] ([Id_Person])
GO
ALTER TABLE [dbo].[Banks_account] CHECK CONSTRAINT [FK_Persom1_account_Bank]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_AccountBank_TransactionFrom] FOREIGN KEY([FromAcount_id])
REFERENCES [dbo].[Banks_account] ([Id_account_bank])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_AccountBank_TransactionFrom]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Idtrtansaction_Banks_accountTO] FOREIGN KEY([ToAccoun_id])
REFERENCES [dbo].[Banks_account] ([Id_account_bank])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Idtrtansaction_Banks_accountTO]
GO
USE [master]
GO
