USE [master]
GO
/****** Object:  Database [Schedule]    Script Date: 14.12.2022 0:03:33 ******/
CREATE DATABASE [Schedule]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Schedule', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Schedule.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Schedule_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Schedule_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Schedule].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Schedule]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 14.12.2022 0:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[Id_Class] [int] NOT NULL,
	[id_ClassTeacher] [int] NOT NULL,
	[Year] [tinyint] NOT NULL,
	[char] [nchar](1) NOT NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[Id_Class] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 14.12.2022 0:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Time_Start] [time](7) NOT NULL,
	[Time_Spamp] [timestamp] NOT NULL,
	[Teacher_id] [int] NOT NULL,
	[Class_id] [int] NOT NULL,
	[Lesson] [ntext] NOT NULL,
	[Room_id] [int] NULL,
 CONSTRAINT [PK__Lesson__3214EC071FA01555] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 14.12.2022 0:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Id_Room] [int] NOT NULL,
	[School_id] [int] NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[Id_Room] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[School]    Script Date: 14.12.2022 0:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[School](
	[Id_School] [int] NOT NULL,
	[Director] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_School] PRIMARY KEY CLUSTERED 
(
	[Id_School] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[School_boy]    Script Date: 14.12.2022 0:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[School_boy](
	[Id_SchoolBoy] [int] NOT NULL,
	[FirstName] [nchar](10) NOT NULL,
	[LastName] [nchar](10) NOT NULL,
	[Class_id] [int] NULL,
 CONSTRAINT [PK_School_boy] PRIMARY KEY CLUSTERED 
(
	[Id_SchoolBoy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 14.12.2022 0:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[Id_Teacher] [int] NOT NULL,
	[FirstNane] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[ClassTeacher] [bit] NOT NULL,
	[SalaryLesson] [money] NOT NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[Id_Teacher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lesson] ADD  CONSTRAINT [DF__Lesson__Teacher__403A8C7D]  DEFAULT ('ClassTeacher') FOR [Teacher_id]
GO
ALTER TABLE [dbo].[Lesson] ADD  CONSTRAINT [DF__Lesson__Lesson__412EB0B6]  DEFAULT ('ClassLesson') FOR [Lesson]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Teacher1_ClassM] FOREIGN KEY([id_ClassTeacher])
REFERENCES [dbo].[Teacher] ([Id_Teacher])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Teacher1_ClassM]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Class1_LessonM] FOREIGN KEY([Class_id])
REFERENCES [dbo].[Class] ([Id_Class])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FK_Class1_LessonM]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Room1_LessonM] FOREIGN KEY([Room_id])
REFERENCES [dbo].[Room] ([Id_Room])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FK_Room1_LessonM]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK_Teacher1_LessonM] FOREIGN KEY([Teacher_id])
REFERENCES [dbo].[Teacher] ([Id_Teacher])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FK_Teacher1_LessonM]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_School] FOREIGN KEY([School_id])
REFERENCES [dbo].[School] ([Id_School])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_School]
GO
ALTER TABLE [dbo].[School_boy]  WITH CHECK ADD  CONSTRAINT [FK_School_boyM_Class1] FOREIGN KEY([Class_id])
REFERENCES [dbo].[Class] ([Id_Class])
GO
ALTER TABLE [dbo].[School_boy] CHECK CONSTRAINT [FK_School_boyM_Class1]
GO
USE [master]
GO
